#header_display {
  width: 100%;
  height: 100%;
}

#menu {
  display: none;
  height: 100vh;
  width: 100%;
  background-color: #f7f7f9;
}

#menu_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

#menulist {
  height: 90%;
  width: 100%;
  background-color: #fff;
  border-radius: 0 0 40px 40px;
}

.menu_list {
  text-decoration: none;
  color: #3a4a42;
}

#menu_liststyle {
  list-style: none;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 80px;
  height: 50%;
}

#img_shape {
  margin-bottom: 5px;
}

#close_icon {
  float: right;
  margin-right: 20px;
}

#navbar,
#footer_hr_line {
  display: none;
}

#welcome {
  width: 90px;
  height: 28px;
  padding: 10px 12px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #28352f;
}

.material-icons {
  color: #28352f;
  margin-right: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#headline {
  height: 726px;
  background-image: url(images/Headline-bgd-img.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;

  /* height: 100%; */
}

#name {
  width: 60%;
  height: auto;

  /* width: 327px; */

  /* height: 192px; */
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

#job {
  width: 100%;
  height: auto;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #36b37e;
}

.story {
  width: 70%;
  height: auto;

  /* width: 327px; */

  /* height: 164px; */
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}

.icons {
  padding: 10px;
  font-size: 20px;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

a {
  color: #505f79;
}

.arrow-down {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.green_box {
  width: 48px;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;

  /* margin-top: -100px; */
}

.grid-container {
  height: 100%;
  width: 100%;
  margin-top: 24px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
}

@media screen and (min-width: 768px) {
  #navbar {
    display: inline;
    padding: 0;
    position: absolute;
    top: 16px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    transition: font-size;
  }

  #navbar:hover {
    font-size: 40px;
  }

  #nav_large_screen {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav {
    text-decoration: none;
    margin: 0 20px;
  }

  #headline {
    height: 650px;
    background-image: url(images/Desktop_images/Header-llustration-desktop@2x.png);
    background-repeat: no-repeat;
    background-size: 100%;

    /* margin-top: 20px; */
  }

  #name {
    margin-top: 160px;
    margin-bottom: 0;
  }

  .green_box,
  .header,
  .email,
  #contact_form_img {
    display: none;
  }

  html,
  body {
    width: 100%;
  }

  .grid-container {
    width: 32%;
  }

  .large_screen {
    margin: 0% 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 1%;
  }

  .project_large_screen {
    margin: 0% 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 1%;
  }

  .work_title {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 57px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;

    /* line-height: 32px; */
    width: 100%;

    /* text-align: center; */
    color: #3a4a42;
  }

  .lang_container {
    height: 350px;
    border: 1px solid  #cfd4d2;
    border-radius: 8px;
    background-color: #ebf0ee;
    margin-top: 24px;
    width: 32%;
  }

  .space {
    height: 110px !important;
    box-sizing: border-box;
  }

  #about_me {
    background-image: url(images/Desktop_images/About_me.png) !important;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 331px;
  }

  #form_bgd_img {
    background-image: url(images/Desktop_images/form_bgd.png) !important;
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: contain;
    height: 500px;
  }

  #form_flex {
    margin: 30px 5% 0% 5%;
    display: flex;
  }

  .h2_style_form {
    font-size: 25px !important;
    width: 60%;
    margin-top: 10px;
    margin-right: 30px;
  }

  .stretch {
    width: 100% !important;
  }

  .form_width {
    width: 100%;
  }

  .button_left {
    width: 100%;
  }

  #footer_hr_line {
    width: 100%;
    display: block;
    color: #dfe1e6;
  }

  button:hover {
    background: #36b37f;
    box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
    border-radius: 4px;
  }

  button:active {
    background: #008552;
    border-radius: 4px;
  }

  /* desktop popup window */

  .pop_button_center {
    display: none !important;
  }

  .desk_pop_btn {
    display: inline !important;
  }
}

.grid-item1 {
  background-color: #ebf0ee;
  height: 200px;

  /* width: 100%; */
}

.grid-item {
  border: 2px solid  #ebf0ee;
  box-sizing: border-box;
  width: 100%;
  height: 222px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.work_title {
  width: 295px;
  height: 57px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3a4a42;
}

.boxed {
  border: none;
  background-color: #ebf0ee;
  color: #3a4a42;
  height: 16px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 5px 10px;
  border-radius: 4px;
  margin-top: 10px;
}

.boxed_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5px;
}

.boxed_flex_margin {
  margin-bottom: 72px;
}

.button2 {
  border: none;
  border-radius: 4px;
  background-color: #36b37f;
  color: white;
  height: 30px;
  text-align: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 0 8px;
  transition: all;
  transition-duration: 2s;
}

/* About me */
#about_me {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(images/About-me-background.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.h2_style {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  text-align: center;
}

/* language */

.lang_container {
  height: 350px;
  border: 1px solid  #cfd4d2;
  border-radius: 8px;
  background-color: #ebf0ee;
  margin-top: 24px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;

  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
}

.lang_style {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
  margin: 40px 0 0 0;
}

.lang_boxed {
  border: none;
  background-color: white;
  color: #36b37e;
  height: 16px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 5px 12px;
  border-radius: 8px;
  margin-top: 10px;
}

.space {
  height: 64px;
  box-sizing: border-box;
}

.center1 {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.button3.email_flex {
  padding: 0 12px;
  margin: 0 0 0;
}

.comment {
  width: 80%;
  height: 30%;
  border-style: hidden;
  box-sizing: border-box;
  border: 1px solid #60c095;
  border-radius: 4px;
}

input {
  width: 80%;
  height: 10%;
  border-style: hidden;
  box-sizing: border-box;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

#form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#contact_form_img {
  width: 40px;
  float: right;
}

.button3 {
  border: none;
  border-radius: 4px;
  background-color: #36b37f;
  color: white;
  height: 40px;
  text-align: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin-top: 30px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  transition: all;
  transition-duration: 2s;
}

.email_flex {
  display: flex;
  justify-content: space-around;
}

.email {
  width: 327px;
  height: 164px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
  text-align: center;
  padding-left: 50px;
}

/* Popup window */
.project_background {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: #c1c7d0c2;
}

.project-container {
  width: 80%;
  height: auto;
  margin: 10%;
  background-color: #fff;
  border-radius: 8px;
}

.img_fit {
  width: 90%;
  height: 50%;
  margin: 4% 5% 0% 5%;
}

.snapshoot {
  width: 100%;
  height: 40%;
}

.project_tittle {
  color: #172b4d;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  margin-top: 6px;
}

.title_tech {
  height: auto;
  width: 100%;
}

.title_tech_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 1% 0% 0% 5%;
}

.desk_pop_btn {
  display: none;
}

.boxed_flex_pop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
}

.boxed_pop {
  border: none;
  background-color: #ebf0ee;
  color: #3a4a42;
  height: 16px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 5px 10px;
  border-radius: 4px;
  margin-top: 10px;
}

.description {
  margin: 5% 5% 0% 5%;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-bottom: 10px;
}

.desk_poplinks {
  height: auto;
  width: 340px;
  margin: 5% 0% 0% 5%;
  gap: 5px;
  display: flex;
}

.desk_pop_button {
  border: none;
  border-radius: 4px;
  background-color: #36b37f;
  color: white;
  height: auto;
  text-align: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 20px 0;
  transition: all;
  transition-duration: 2s;
  width: 158px;
  margin-bottom: 20px;
  text-decoration: none;
}

.pop_button_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pop_icon {
  width: 15px;
  height: 15px;
}

.poplinks {
  height: auto;
  width: 80%;
  margin: 5% 0% 0% 5%;
  gap: 5px;
  display: flex;
}

.pop_button {
  border: none;
  border-radius: 4px;
  background-color: #36b37f;
  color: white;
  height: auto;
  text-align: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  padding: 15px 0;
  transition: all;
  transition-duration: 2s;
  width: 80%;
  margin-bottom: 20px;
  text-decoration: none;
}

.close {
  margin: 0% 5% 0% 5%;
  display: flex;
  flex-direction: row-reverse;
  padding-top: 40px;
}
